body {
    margin-left: 50px; 
    margin-right: 50px; 
    margin-top: 70px; 
    font-family: Helvetica, sans-serif;
}

.box {
    width: 100%; 
    margin-bottom: 2%; 
}

.resume_h1 {
    font-weight: 700; 
    margin: 0 !important; 
    padding: 0 !important; 
}

.resume_top_p {
    font-weight: 700; 
}

.text-div {
    text-align: right;
}

.picture-div {
    text-align: left;
}

.resume_pic {
    width: 70%; 
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .resume_h1 {
        font-size: 80px; 
    }
}