/* Text CSS */
body {
    font-weight: 27.28;
}
.header {
    font-size: 128;
}
.title {
    font-size: 60;
    font-weight: bold;
}
.subtitle {
    font-weight: bold;
    color: #0072D7;
}
.texts {
    font-size: 28;
}
.icon-font {
    font-size: 15;
    font-weight: bold;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

/* Main Image CSS */
.main-image-container {
    height: 50vh; 
    background-color: #D9D9D9;
    /* background-image: url('../img/medigo.png'); */ /* uncomment this line and replace the url */
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

/* Transitions */ 
.line {
    width: 20%; 
    border: none; 
    height: 0; 
    background-color: black;
    
    border-top: 2px solid black; 
    color: black; 
    margin: 0; 
    padding: 0; 
}
.center-line {
    display: flex;
    justify-content: center;
}
.space-between {
    padding-top: 60px; 
}

/* Text aligns */ 
.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}