body {
    margin-left: 50px; 
    margin-right: 50px; 
}

.introduction-top {
    background-image: url(img/box_top.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 25px; 
    padding-right: 35px; 
}

.description {
    text-align: right;
    font-size: 20px; 
}

.name {
    font-weight: 700; 
}

h1.name {
    line-height: 1em;
}

.specification {
    font-weight: 700; 
}

.school {
    font-weight: 300;
}

.all-top {
    background-image: url(img/circle.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 700px) { 
    #introduction-text {
        padding-top: 6%;
        text-align: center; 
    }
    .description {
        font-size: 13px; 
    }
    .name {
        font-size: 50px; 
    }
    .specification {
        font-size: 15px; 
    }
    .school {
        font-size: 15px; 
    }
    #introduction-image {
        text-align: center;
        object-fit: cover;
    }
    #introduction-image img {
        padding-top: 2%; 
        height: 50vh;
    }
    .all-top {
        background-size: contain; 
        background-size: 100%;
        background-position: 0% 13%;
        height: 100vh;
        padding-bottom: 50px; 
    }
    .bottom-left-box img{
        width: 12%; 
        position: absolute;
        left: 10%;
        bottom: 5%;
    }
    .bottom-right-box img{
        width: 4%; 
        position: absolute;
        right: 10%;
        bottom: 5%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 700px) { 
    #introduction-text {
        padding-left: 10%; 
        padding-top: 1%; 
    }
    .name {
        font-size: 75px; 
    }
    .specification {
        font-size: 20px; 
    }
    .school {
        font-size: 20px; 
    }
    #introduction-image img {
        height: 55vh;
        position: absolute;
        left: 45%;
        top: 35%;
        z-index: -1;
    }
    .all-top {
        background-size: contain; 
        background-size: 80%;
        background-position: 0% 12%;
        height: 100vh;
        padding-bottom: 50px; 
    }
    .bottom-left-box img{
        width: 12%; 
        position: absolute;
        left: 5%;
        bottom: 5%;
    }
    .bottom-right-box img{
        width: 4%; 
        position: absolute;
        right: 6%;
        bottom: 5%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) { 
    #introduction-text {
        padding-left: 13%; 
        padding-top: 3%; 
    }
    .name {
        font-size: 120px; 
    }
    .specification {
        font-size: 24px; 
    }
    .school {
        font-size: 24px; 
    }
    .all-top {
        background-size: contain; 
        background-size: 64%;
        background-position: 9% 26%;
        height: 100vh;
        padding-bottom: 50px; 
    }
    #introduction-image img {
        height: 70vh; 
        position: absolute;
        left: 51%;
        top: 18%;
        z-index: 1;
    }
    .bottom-left-box img{
        width: 12%; 
        position: absolute;
        left: 3%;
        bottom: 5%;
    }
    .bottom-right-box img{
        width: 4%; 
        position: absolute;
        right: 4%;
        bottom: 5%;
    }
}